body {
  text-align: center;
  overflow-x: hidden;
}

.navbar {
  justify-content: flex-start !important;
  background-color: black;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.8;
}

img {
  width: 100vw;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

pre {
  overflow-x: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.form-row {
  display: flex;
  justify-content: center;
}

#messageInput {
  margin-bottom: 100px;
}